// headers and legends
.country-list {
  &-legend {
    font-size: 16px;
    color: var(--cs-lightText);
    margin-top: -5px;

    &--population,
    &--area,
    &--density {
      text-align: right;
      margin-bottom: 0.75em;
    }
  }
}

// data cells
.country-cell {
  &--index,
  &--population,
  &--area,
  &--density {
    text-align: right;
  }
  &--index {
    margin-right: 0.5em;
  }
}

@media screen and (min-width: 40em) {
  .country-cell {
    &--index {
      margin-right: 0;
    }
  }
}
