.site__footer {
  margin-top: 5em;
  background: var(--cs-black);
}

.footer {
  &__logo {
    display: flex;
    align-items: center;
    margin: 0;

    .icon__logo {
      width: 45px;
      height: 36px;
      margin-right: 0.75em;
    }
  }
  &__title {
    @extend %mono-font;
    color: var(--cs-white);
    font-size: 1.15em;
    font-weight: 700;
    text-transform: capitalize;
  }
  &__text {
    color: var(--cs-lightGrey);
    margin: 0;
  }
  &__section {
    display: flex;
    flex-direction: column;
    a {
      color: var(--cs-blue);
      margin-bottom: 0.5em;
    }
  }
  &__subtitle {
    @extend %small-lower-bold;
    color: var(--cs-lightGrey);
    margin: 0 0 0.5em 0;
  }
  &__footer {
    color: var(--cs-lightGrey);
  }
  &__contact-link {
    color: var(--cs-lightGrey);
    margin-right: 0.5em;
  }
}

// color the logo in the footer
.footer__logo {
  .logo-globe {
    &__meridians {
      stroke: var(--cs-black);
    }
    &__parallels {
      fill: var(--cs-black);
    }
  }
  .logo__divider {
    fill: var(--cs-lightGrey);
  }
  .logo__graph {
    fill: #444;
  }
}
