.site{
  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    max-width: 90em;
  }
  &__logo{
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  &__title{
    @extend %mono-font;
    font-size: 1.25em;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    color: $black;
  }
}
.icon__logo{
  margin-right: .75em;
  width: 40px;
  height: 32px;
}

@media screen and (min-width: 30em){
  .icon__logo{
    margin-right: 1em;
    width: 50px;
    height: 40px;
  }
  .site__title{
    font-size: 1.5em;
  }
}

/*
  settings
*/

.settings{
  position: relative;

  &__button{
    @extend %reset-button;
    display: flex;
    gap: .5em;
    align-items: center;
    text-decoration: underline;
  }
  &__button__innertext{
    display: none;
  }
  &__collapse{
    position: absolute;
    background: #fff;
    box-shadow: 0 4px 8px #aaa;
    width: 14em;
    padding: 1.5em 2em;
    right: 0;
    top: 2.5em;
  }
  &__title{
    font-weight: 700;
    margin-bottom: .5em;
  }
  &__checkbox{
    margin-right: .5em;
  }
}

// settings icon
.icon__settings{
  fill: $lightGrey;
  transition: fill ease-in .125s, transform ease-in .25s;
  .settings__button:hover &{
    fill: $black;
  }
  .settings__button--active &{
    fill: $black;
    transform: rotate(100deg);
  }
}

@media screen and (min-width: 30em){
  .settings{
    &__button__innertext{
      display: inline;
    }
  }
}


.country-count{
  margin-bottom: 1em;
  &__number{
    @extend %mono-font;
    background: $blue;
    color: #fff;
    padding: .1em .25em;
  }
}

@media screen and (min-width: 64em){
  .country-count{
    margin-bottom: 0;
  }
}