%mono-font{
  font-family: 'Inconsolata', monospace;
}

%reset-button{
  background: none;
  border: none;
  line-height: 1.5em;
  padding: 0;
  cursor: pointer;
}

%small-lower{
  font-variant: small-caps;
  text-transform: lowercase;
}

%small-lower-bold{
  @extend %small-lower;
  font-weight: bold;
}

%small-lower-light{
  @extend %small-lower;
  color: $lightText;
}