// styling of sort links, icons

.link__sort{
  color: var(--black);
  font-weight: 500;
  display: flex;
  gap: 3px;
  align-items: center;

  &--country{
    margin-left: -20px;
  }
}

// svg icon
.icon__sort{
  width: 18px;
  
  &--upper, &--lower{
    fill: $lightGrey;
    &--active{
      fill: $blue;
    }
  }
}